#menu_liste
{
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    align-content: center;
    
    #menu1, #menu2, #menu3, #menu4
    {
        width: 80%;
        height: 320px;
        text-align: center;
        margin: 20px auto;
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column;
        -webkit-box-pack: center;
                justify-content: center;
        @include ombre-menu;
        & h2
        {
            font-size: 40px;
        }
        & p {
            font-size: 50px;
        }
        @media screen and (min-width: 480px) {
            height: 520px;
        }
        @media screen and (min-width: 1024px) {
            height: 620px;
            width: 100%;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                    flex-direction: column;
        }
    }
    #menu1
    {
        background-color: $menu1_bg;
        color: $menu1_font;
        i
        {
            font-size: 50px;

            @include gradient (#F04A5E, #F78F6A);

        }
        &:hover{
            
        }
    }
    #menu2
    {
        background-color: $menu2_bg;
        color: $menu2_font;
        h2{
            @include gradient (#D8852E, #905BFD);
        }
    }
    #menu3
    {
        background-color: $menu3_bg;
        color: $menu3_font;
        h2{
            @include gradient (#D8852E, #905BFD);
        }
    }
    #menu4
    {
        background-color: $menu4_bg;
        color: $menu4_font;
    }
    @media screen and (min-width: 480px) {
        margin: 0 20px; 
        -webkit-box-orient: horizontal; 
        -webkit-box-direction: normal; 
                flex-direction: row;
        flex-wrap: wrap;
    }
    a {
        @media screen and (min-width: 480px) {
            width: 45%;
            margin: 20px auto;
        }
        @media screen and (min-width: 1024px) {
            margin: 40px auto;
            width: 40%;
        }
    }
    @media screen and (min-width: 1024px) {
        margin: 0 50px; 
    }
}
.bouton {
    margin-bottom: 180px;
    @media screen and (min-width: 480px) {
        margin-bottom: 150px; 
    }
}
