#premier, #second, #troisieme, #quatrieme
{
    color: #353535;
    text-align: center;
}
#big_menu1
{
    background-color: $menu1_bg;
    color: $menu1_font;
    text-align: center;
    @include marge-menu;
    @include ombre-menu;
    header, footer
    {
        background-color: $menu1_bg;
        color: $menu1_font;
    }
    article
    {
        @include marge-articles;
        .prix
        {
            font-weight: 700;
        }
        h4::before {
            display: inline-block;
            content: url("../imgs/menu1g.png");
            background-color:transparent;
            border-color: transparent;
        }
        h4::after{
            display: inline-block;
            content: url("../imgs/menu1g.png");
            background-color: transparent;
            -webkit-transform: scaleX(-1);
                    transform: scaleX(-1);
        }
    }
}