.big_menu3
{
    background-color: $menu3_bg;
    color: $font_black;
    text-align: center;
    @include marge-menu;
    @include ombre-menu;
    header
    {
        @include gradient ($menu3_font1, $menu3_font2);
    }
    article
    {
        @include marge-articles;
    }
    h4{
        &:after{
            display: block;
            content: '';
            @include souligne($font_black);
        }
    }
}
