#big_menu3
{
    background-color: $menu3_bg;
    color: $menu3_font;
    text-align: center;
    @include marge-menu;
    @include ombre-menu;
    header
    {
        background-color: $menu3_bg;
        color: $menu3_font;
    }
    article
    {
        @include marge-articles;
        .prix
        {
            font-weight: 700;
        }
    }
}