
#premier, #second, #troisieme, #quatrieme
{
    color: #353535;
    text-align: center;
}
.big_menu1
{
    background-color: $menu1_bg;
    color: $menu1_font;
    text-align: center;
    @include marge-menu;
    @include ombre-menu;
    font-family: caliban-std,sans-serif;
    font-weight: 400;
    font-style: normal;
    header, footer
    {
        color: $menu1_font;
        font-family: 'Devonshire', cursive;
        i
        {
            font-size: 50px;
            @include gradient ($menu1_note1, $menu1_note2);
        }
        
    }
    article
    {
        @include marge-articles;
        .img-g{
            height: 14px;
        }
        .img-d{
            height: 14px;
        }
    }
    h4{
        &:after{
            display: block;
            content: '';
            @include souligne($menu1_font);
        }
    }

}

