.big_menu4
{
    background-color: $menu4_bg;
    color: $menu4_font;
    text-align: center;
    @include marge-menu;
    @include ombre-menu;
    font-family: caliban-std,sans-serif;
    font-weight: 400;
    font-style: normal;
    header
    {
        @include gradient ($menu4_font1, $menu4_font2);
        font-family: 'kaushan_scriptregular';
    }
    article
    {
        @include marge-articles;
    }
    h4{
        &:after{
            display: block;
            content: '';
            @include souligne($menu4_font);
        }
    }
}


