@mixin marge-menu {
	margin: 30px 10px $footer_marge_total_mobile;
    padding: 50px 10px;
}
@mixin ombre-menu {
        box-shadow: 0 0 10px  grey;
}
@mixin marge-articles {
        margin-bottom: 20px;
        padding: 20px;
}
@mixin gradient ($color1, $color2){
	background: -webkit-gradient(linear, left top, right bottom, from($color1), to($color2));
	background: linear-gradient(to bottom right, $color1 0%, $color2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@mixin obscure {
	opacity: 0.5;
}
@mixin souligne($color){
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: -webkit-transform 500ms ease-in-out;
    transition: -webkit-transform 500ms ease-in-out;
    transition: transform 500ms ease-in-out;
    transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
    border-bottom: 3px solid $color;
}