$bg_he_fo: #579c87;
$font_he_fo: #fdcb46;
$menu1_bg: #FCDFDB;
$menu1_font: #3C1218;
$menu2_bg: #FFF5FE;
$menu2_font: #C77412;
$menu3_bg: #F9F9F9;
$menu3_font: #0887FD;
$menu4_bg: #FDFFFD;
$menu4_font: #72BF56;
