$bg_he_fo: #579c87;
$font_he_fo: #fdcb46;
$menu1_bg: #FCDFDB;
$menu1_font: #3C1218;
$menu1_note1:#F04A5E;
$menu1_note2:#F78F6A;
$menu2_bg: #FFF5FE;
$menu2_font1: #E38913;
$menu2_font2: #5A6799;
$menu2_font3: #6E4CCC;
$menu2_font4: #C77412;
$menu3_bg: #F9F9F9;
$menu3_font1: #0887FD;
$menu3_font2: #0431DF;
$menu4_bg: #FDFFFD;
$menu4_font: #72BF56;
$menu4_font1: #3D9339;
$menu4_font2: #C0FD87;
$font_black: #353535;
$taille_zoom: 1.3;

$header_font_size: 60px;
$footer_h6_marge: 10px;
$footer_font_size: 30px;
$footer_marge_total_mobile: (4 * $footer_h6_marge) + (2 * $footer_font_size) + 20px;
$footer_marge_total_pc: (4 * $footer_h6_marge) + $footer_font_size + 70px;

$nom_font_size: 30px;
$hauteur_barres: 18px;

$menu_padding_tb: 100px;
$menu_font_size_phone: 22px;