/*font header*/
@font-face {
    font-family: 'excite_bold';
    src: url('../fonts/excib___-webfont.woff2') format('woff2'),
         url('../fonts/excib___-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/*font titre menu 4*/
@font-face {
    font-family: 'kaushan_scriptregular';
    src: url('../fonts/kaushanscript-regular-webfont.woff2') format('woff2'),
         url('../fonts/kaushanscript-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/*font footer*/
@font-face {
    font-family: 'sinkin_sans400_regular';
    src: url('../fonts/SinkinSans-400Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/* font texte menu 2*/
@font-face {
    font-family: 'nimbus_roman_no9_lregular';
    src: url('../fonts/NimbusRomNo9L-Reg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/*font titre menu 3*/
@font-face {
    font-family: 'dancing_script_otregular';
    src: url('../fonts/dancingscript-regular-webfont.woff2') format('woff2'),
         url('../fonts/dancingscript-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}