
#prochainement
{
    font-family: 'sinkin_sans400_regular';
    border-radius: 20px;
    background-color: $bg_he_fo;
    color: $font_he_fo;
    margin: 20px auto;
    padding: 20px 20px;
    font-size: 30px;
    width: 230px;
    padding: 3vw;
    span {
        -webkit-animation: blink 2.5s infinite;
                animation: blink 2.5s infinite;
        &:nth-child(2) {
            -webkit-animation-delay: 0.6s;
                    animation-delay: 0.6s;
        }
        &:nth-child(3) {
            -webkit-animation-delay: 1.2s;
                    animation-delay: 1.2s;
        }
    }
    @media screen and (min-width: 480px) {
        margin: 30px auto;
        font-size: 40px;
        width: 50vw;
    }
}