header, footer
{
    background-color: $bg_he_fo;
    color: $font_he_fo;
}
header
{
    padding: 30px;
    font-size: 50px;
    text-align: center;
    font-weight: 700;
    @media screen and (min-width: 480px)
    {
        font-size: 60px;
        margin-bottom: 40px;
    }
}
footer
{
    display: flex;
    flex-direction: column;
    padding: 30px 0;
    font-size: 30px;
    align-content: center;
    position: fixed;
    & h6
    {
        margin: 20px auto;
        animation: wiggle 3s infinite;
        animation-fill-mode: backwards;
    }
    @media screen and (min-width: 480px)
    {
        flex-direction: row;
        justify-content: space-between;
        padding: 30px 10px;
        font-size: 30px;
        & .elem_footer
        {
            margin: 20px;
        }
        & .cn
        {
            text-align: right;
        }
        & .ml{
            text-align: left;
        }
    }
}