header, footer
{
    background-color: $bg_he_fo;
    color: $font_he_fo;
}
header
{
    padding: 30px;
    font-size: 50px;
    text-align: center;
    font-weight: 700;
    @media screen and (min-width: 480px) {
        font-size: 60px;
        margin-bottom: 40px;
    }
}
footer
{
    display: flex;
    flex-direction: column;
    padding: 0;
    font-size: $footer_font_size;
    align-content: center;
    position: fixed;
    bottom: 0vh;
    width: 100%;
    h6
    {
        margin: $footer_h6_marge auto;
        animation: wiggle 3s infinite;
        animation-fill-mode: backwards;
    }
    h6:nth-child(2) {
        animation-delay: 1.5s;
    }
    @media screen and (min-width: 480px) {
        flex-direction: row;
        justify-content: space-between;
        & .elem_footer
        {
            margin: 20px;
        }
        & .cn
        {
            text-align: right;
        }
        & .ml{
            text-align: left;
        }
    }
}