section .categorie{
	/**/
	margin: auto;
	&:hover{
		h4:after{
				-webkit-transform: scaleX(1);
				        transform: scaleX(1);
		}
	}
	p{
		text-align: left;
	}
	@media screen and (min-width: 480px) {   
        .img-g, .img-d{
            display: inline-block;
        }
    }
}
.img-g{
	display: inline-block;
	text-align: left;
	height: $hauteur_barres;
    width: 35vw;
    display: none;
}
.img-d{
	display: inline-block;
	text-align: right;
	height: $hauteur_barres;
    width: 35vw;
    display: none;
	-webkit-transform: scaleX(-1);
	        transform: scaleX(-1);
}
.ligne {
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: justify;
	        justify-content: space-between;
	max-width: 780px;
	h4{
		margin: 0 auto 20px;
	}

    
	
}
.prix
{
    font-weight: 700;
}