#premier, #second, #troisieme, #quatrieme
{
    color: #353535;
    text-align: center;

	h2{
		font-family: 'Cousine', monospace;
		letter-spacing: -2px;
		font-size: $nom_font_size;
		font-weight: 900;
		margin: 40px auto 20px;
		@media screen and (min-width: 480px) {   
	        margin: 50px auto 20px;
	    }
	    @media screen and (min-width: 680px) {   
	        margin: 60px auto 20px;
	    }
	    @media screen and (min-width: 1200px) {   
	        margin: 70px auto 20px;
	    }
	}
}
section:nth-of-type(2){
	@media screen and (min-width: 880px) {   
        margin: 30px 2vw $footer_marge_total_pc;
    }
    @media screen and (min-width: 980px) {   
        margin: 30px auto $footer_marge_total_pc;
        width: 940px;
    }
    
    header{
    	margin: 100px auto;
    }
	.categorie{
		margin: auto;
		&:hover{
			h4:after{
				-webkit-transform: scaleX(1);
				        transform: scaleX(1);
			}
		}
		p{
			
			margin: 0 auto 10px 0;
		}
	}
}
.img-g{
	text-align: left;

}
.img-d{
	text-align: right;
	-webkit-transform: scaleX(-1);
	        transform: scaleX(-1);
}

.ligne {
	display: -webkit-box;
	display: flex;
	margin: auto;
	@media screen and (max-width: 1200px){
		max-width: 780px;
	}
	

	h4{
		margin: 0 auto 20px;
        font-size: 35px;
	}
	.img-g, .img-d{
		height: $hauteur_barres;
	    width: 25vw;
	    display: none;
	    @media screen and (min-width: 480px) {   
	        display: inline-block;
	    }
	    @media screen and (min-width: 700px) {   
	        width: 27vw;
	    }
	    @media screen and (min-width: 780px) {   
	        width: 29vw;
	    }
	    @media screen and (min-width: 870px) {   
	        width: 265px;
	    }
	}
}
.cate_nom{
	margin: 0 20px;
}
.prix
{
    font-weight: 700;
    align-content: end;
}
