#premier, #second, #troisieme, #quatrieme
{
    color: #353535;
    text-align: center;

	h2{
		font-family: 'Cousine', monospace;
		letter-spacing: -2px;
		font-size: $nom_font_size;
		font-weight: 900;
		margin: 40px auto 20px;
		@media screen and (min-width: 480px) {   
	        margin: 50px auto 20px;
	    }
	    @media screen and (min-width: 680px) {   
	        margin: 60px auto 20px;
	    }
	    @media screen and (min-width: 1200px) {   
	        margin: 70px auto 20px;
	    }
	}
}
.big_menu1, .big_menu2, .big_menu3, .big_menu4{
    header{
    	margin: 0 auto $menu_padding_tb;
    }
	.categorie{
		margin: 0 auto 50px;
		@media screen and (min-width: 550px){
			margin: 0 auto 80px;
		}
		&:hover{
			h4:after{
				-webkit-transform: scaleX(1);
				        transform: scaleX(1);
			}
		}
		p, .fin_menu{
			margin: 0 auto 10px 0;
			font-size: $menu_font_size_phone;
			line-height: 1.5;
		}
		.fin_menu{
			text-align: left;
			margin: 0 10% 10px;
		}
	}
	footer{
		margin: $menu_padding_tb auto 0;
	}
}
.img-g{
	text-align: left;

}
.img-d{
	text-align: right;
	-webkit-transform: scaleX(-1);
	        transform: scaleX(-1);
}

.ligne {
	display: -webkit-box;
	display: flex;
	margin: 0 10% 10px;
	max-width: 850px;
	font-size: $menu_font_size_phone;
	h4{
		margin: 0 auto 30px;
        font-size: 35px;
	}
	
}
.cate_nom{
	margin: 0 20px;
	max-width: none;
}
.prix
{
    align-content: end;
}
.bold
{
    font-weight: 700;
}
