@keyframes blink {
  0% {
    opacity: 0; }
  40%, 60% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes wiggle {
  0% {
    transform: rotate(0deg); }
  3% {
    transform: rotate(-2deg); }
  5% {
    transform: rotate(5deg); }
  6% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(0deg); } }
@keyframes zoom {
  0% {
    transform: scale(1, 1); }
  100% {
    transform: scale(1.5, 1.5); } }
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none; }

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none; }

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0; }

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

html,
button,
input,
select,
textarea {
  color: #222; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

img {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/*font header*/
@font-face {
  font-family: 'excite_bold';
  src: url("../fonts/excib___-webfont.woff2") format("woff2"), url("../fonts/excib___-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
/*font titre menu 4*/
@font-face {
  font-family: 'kaushan_scriptregular';
  src: url("../fonts/kaushanscript-regular-webfont.woff2") format("woff2"), url("../fonts/kaushanscript-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
/*font footer*/
@font-face {
  font-family: 'sinkin_sans400_regular';
  src: url("../fonts/SinkinSans-400Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
/* font texte menu 2*/
@font-face {
  font-family: 'nimbus_roman_no9_lregular';
  src: url("../fonts/NimbusRomNo9L-Reg-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
/*font titre menu 3*/
@font-face {
  font-family: 'dancing_script_otregular';
  src: url("../fonts/dancingscript-regular-webfont.woff2") format("woff2"), url("../fonts/dancingscript-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
#prochainement {
  border-radius: 20px;
  background-color: #579c87;
  color: #fdcb46;
  margin: 20px auto;
  padding: 20px 20px;
  font-size: 30px;
  width: 230px; }
  #prochainement span {
    animation: blink 2.5s infinite; }
    #prochainement span:nth-child(2) {
      animation-delay: 0.6s; }
    #prochainement span:nth-child(3) {
      animation-delay: 1.2s; }
  @media screen and (min-width: 480px) {
    #prochainement {
      margin: 30px auto;
      font-size: 40px;
      width: 300px; } }

.header, .footer {
  background-color: #579c87;
  color: #fdcb46;
  width: 100%; }

.header {
  padding: 30px 0; }
  .header h1 {
    font-family: 'excite_bold';
    margin: auto;
    font-size: 60px;
    text-align: center;
    font-weight: 700;
    letter-spacing: -4px; }
    @media screen and (min-width: 480px) {
      .header h1 {
        font-size: 70px; } }

.footer {
  font-family: 'sinkin_sans400_regular';
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  padding: 0;
  font-size: 30px;
  align-content: center;
  position: fixed;
  bottom: 0vh;
  z-index: 5; }
  .footer h6 {
    margin: 10px auto;
    -webkit-animation: wiggle 3s infinite;
    animation: wiggle 3s infinite;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards; }
  .footer h6:nth-child(2) {
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s; }
  @media screen and (min-width: 480px) {
    .footer {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      flex-direction: row;
      -webkit-box-pack: justify;
      justify-content: space-between; }
      .footer .elem_footer {
        margin: 20px; }
      .footer .cn {
        text-align: right; }
      .footer .ml {
        text-align: left; } }

a {
  text-decoration: none;
  color: #fdcb46; }

a:visited {
  color: #fdcb46; }

#premier, #second, #troisieme, #quatrieme {
  color: #353535;
  text-align: center; }
  #premier h2, #second h2, #troisieme h2, #quatrieme h2 {
    font-family: 'Cousine', monospace;
    letter-spacing: -2px;
    font-size: 30px;
    font-weight: 900;
    margin: 40px auto 20px; }
    @media screen and (min-width: 480px) {
      #premier h2, #second h2, #troisieme h2, #quatrieme h2 {
        margin: 50px auto 20px; } }
    @media screen and (min-width: 680px) {
      #premier h2, #second h2, #troisieme h2, #quatrieme h2 {
        margin: 60px auto 20px; } }
    @media screen and (min-width: 1200px) {
      #premier h2, #second h2, #troisieme h2, #quatrieme h2 {
        margin: 70px auto 20px; } }

@media screen and (min-width: 880px) {
  section:nth-of-type(2) {
    margin: 0 2vw 140px; } }
@media screen and (min-width: 1060px) {
  section:nth-of-type(2) {
    margin: 0 auto 140px;
    width: 1024px; } }
section:nth-of-type(2) header {
  margin: 0 auto 100px; }
section:nth-of-type(2) .categorie {
  margin: 0 auto 50px; }
  @media screen and (min-width: 550px) {
    section:nth-of-type(2) .categorie {
      margin: 0 auto 80px; } }
  section:nth-of-type(2) .categorie:hover h4:after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }
  section:nth-of-type(2) .categorie p {
    margin: 0 auto 10px 0;
    font-size: 25px; }
section:nth-of-type(2) footer {
  margin: 100px auto 0; }

.img-g {
  text-align: left; }

.img-d {
  text-align: right;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1); }

.ligne {
  display: -webkit-box;
  display: flex;
  margin: 0 10% 10px;
  max-width: 850px;
  font-size: 25px; }
  .ligne h4 {
    margin: 0 auto 30px;
    font-size: 35px; }

.cate_nom {
  margin: 0 20px;
  max-width: none; }

.prix {
  align-content: end; }

.bold {
  font-weight: 700; }

#menu_liste {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  align-content: center; }
  #menu_liste .bloc2menu {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center; }
    @media screen and (min-width: 700px) {
      #menu_liste .bloc2menu {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
        -webkit-box-pack: justify;
        justify-content: space-between; } }
    #menu_liste .bloc2menu a:hover {
      z-index: 2; }
      #menu_liste .bloc2menu a:hover ~ .fond_survole {
        visibility: visible;
        opacity: 0.5; }
  #menu_liste #menu1, #menu_liste #menu2, #menu_liste #menu3, #menu_liste #menu4 {
    width: 80vw;
    height: 110vw;
    text-align: center;
    margin: 20px auto;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-transition: -webkit-transform 2s;
    transition: -webkit-transform 2s;
    transition: transform 2s;
    transition: transform 2s, -webkit-transform 2s;
    box-shadow: 0 0 10px  grey; }
    #menu_liste #menu1 h2, #menu_liste #menu2 h2, #menu_liste #menu3 h2, #menu_liste #menu4 h2 {
      font-size: 40px;
      margin-bottom: 10px; }
    #menu_liste #menu1 p, #menu_liste #menu2 p, #menu_liste #menu3 p, #menu_liste #menu4 p {
      font-size: 50px; }
    #menu_liste #menu1:hover, #menu_liste #menu2:hover, #menu_liste #menu3:hover, #menu_liste #menu4:hover {
      -webkit-transform: scale(1.1, 1.1);
      transform: scale(1.1, 1.1); }
    @media screen and (min-width: 700px) {
      #menu_liste #menu1, #menu_liste #menu2, #menu_liste #menu3, #menu_liste #menu4 {
        width: 45vw;
        height: 61vw; } }
    @media screen and (min-width: 1024px) {
      #menu_liste #menu1, #menu_liste #menu2, #menu_liste #menu3, #menu_liste #menu4 {
        width: 40vw;
        height: 55vw; } }
  @media screen and (min-width: 480px) {
    #menu_liste {
      margin: 20px 20px; } }
  @media screen and (min-width: 700px) {
    #menu_liste {
      margin: 50px 30px; } }
  @media screen and (min-width: 1024px) {
    #menu_liste {
      margin: 50px 8vw; } }
  #menu_liste #menu1 {
    background-color: #FCDFDB;
    color: #3C1218;
    font-family: 'Devonshire', cursive;
    -webkit-transform-origin: left 50%;
    transform-origin: left 50%; }
    #menu_liste #menu1 i {
      font-size: 50px;
      background: linear-gradient(100deg, #F04A5E 40%, #F78F6A 60%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin: 0 auto 10px; }
    #menu_liste #menu1 p {
      font-family: 'segoe print', 'Kalam', cursive;
      text-transform: uppercase; }
  #menu_liste #menu2 {
    background-color: #FFF5FE;
    color: #C77412;
    -webkit-transition: -webkit-transform 2s;
    transition: -webkit-transform 2s;
    transition: transform 2s;
    transition: transform 2s, -webkit-transform 2s;
    -webkit-transform-origin: right 50%;
    transform-origin: right 50%;
    font-family: 'nimbus_roman_no9_lregular', arial; }
    #menu_liste #menu2 h2 {
      background: linear-gradient(135deg, #E38913 20%, #6E4CCC 80%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: 'Croissant One', cursive; }
  #menu_liste #menu3 {
    background-color: #F9F9F9;
    color: #0887FD;
    -webkit-transition: -webkit-transform 2s;
    transition: -webkit-transform 2s;
    transition: transform 2s;
    transition: transform 2s, -webkit-transform 2s;
    -webkit-transform-origin: left 50%;
    transform-origin: left 50%;
    font-family: 'segoe print', 'Kalam', cursive; }
    #menu_liste #menu3 h2 {
      background: linear-gradient(135deg, #0431DF 20%, #0887FD 80%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: 'dancing_script_otregular'; }
  #menu_liste #menu4 {
    background-color: #FDFFFD;
    color: #72BF56;
    -webkit-transition: -webkit-transform 2s;
    transition: -webkit-transform 2s;
    transition: transform 2s;
    transition: transform 2s, -webkit-transform 2s;
    -webkit-transform-origin: right 50%;
    transform-origin: right 50%;
    font-family: 'segoe print', 'Kalam', cursive; }
    #menu_liste #menu4 h2 {
      background: linear-gradient(135deg, #3D9339 20%, #C0FD87 80%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: 'kaushan_scriptregular'; }

.fond_survole {
  background-color: white;
  opacity: 0;
  top: 0vh;
  bottom: 0vh;
  right: 0vw;
  left: 0vw;
  position: fixed;
  visibility: hidden;
  -webkit-transition: opacity 2s ease-in-out;
  transition: opacity 2s ease-in-out; }

.bouton {
  margin-bottom: 180px; }
  @media screen and (min-width: 480px) {
    .bouton {
      margin-bottom: 150px; } }

.big_menu1 {
  background-color: #FCDFDB;
  color: #3C1218;
  text-align: center;
  margin: 0px 10px 120px;
  padding: 100px 10px;
  box-shadow: 0 0 10px  grey;
  font-family: 'segoe print', 'Kalam', cursive; }
  .big_menu1 header, .big_menu1 footer {
    color: #3C1218;
    font-family: 'Devonshire', cursive;
    font-size: 50px; }
    .big_menu1 header i, .big_menu1 footer i {
      font-size: 50px;
      background: linear-gradient(100deg, #F04A5E 40%, #F78F6A 60%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
  .big_menu1 article {
    margin-bottom: 20px; }
  .big_menu1 h4 {
    font-size: 35px; }
    .big_menu1 h4:after {
      display: block;
      content: '';
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: -webkit-transform 500ms ease-in-out;
      transition: -webkit-transform 500ms ease-in-out;
      transition: transform 500ms ease-in-out;
      transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
      -webkit-transform-origin: 0% 50%;
      transform-origin: 0% 50%;
      border-bottom: 3px solid #3C1218; }

.img-g, .img-d {
  height: 18px;
  width: 25vw;
  display: none; }
  @media screen and (min-width: 480px) {
    .img-g, .img-d {
      display: inline-block; } }
  @media screen and (min-width: 700px) {
    .img-g, .img-d {
      width: 27vw; } }
  @media screen and (min-width: 780px) {
    .img-g, .img-d {
      width: 29vw; } }
  @media screen and (min-width: 870px) {
    .img-g, .img-d {
      width: 265px; } }

.img-g {
  height: 14px;
  padding-top: 10px;
  width: 20vw; }

.img-d {
  height: 14px;
  padding-top: 10px;
  width: 20vw; }

.big_menu2 {
  background-color: #FFF5FE;
  color: #C77412;
  text-align: center;
  margin: 0px 10px 120px;
  padding: 100px 10px;
  box-shadow: 0 0 10px  grey;
  font-family: 'nimbus_roman_no9_lregular', arial;
  /*article
  {
      @include marge-articles;
  }*/ }
  .big_menu2 header {
    background: linear-gradient(135deg, #E38913 20%, #6E4CCC 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Croissant One', cursive;
    font-size: 50px; }

.m2-brown {
  color: #E38913; }
  .m2-brown h4 {
    font-weight: 700; }
    .m2-brown h4:after {
      display: block;
      content: '';
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: -webkit-transform 500ms ease-in-out;
      transition: -webkit-transform 500ms ease-in-out;
      transition: transform 500ms ease-in-out;
      transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
      -webkit-transform-origin: 0% 50%;
      transform-origin: 0% 50%;
      border-bottom: 3px solid #E38913; }

.m2-purple {
  color: #5A6799; }
  .m2-purple h4 {
    font-weight: 700; }
    .m2-purple h4:after {
      display: block;
      content: '';
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: -webkit-transform 500ms ease-in-out;
      transition: -webkit-transform 500ms ease-in-out;
      transition: transform 500ms ease-in-out;
      transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
      -webkit-transform-origin: 0% 50%;
      transform-origin: 0% 50%;
      border-bottom: 3px solid #5A6799; }

.m2-blue {
  color: #6E4CCC; }
  .m2-blue h4 {
    font-weight: 700; }
    .m2-blue h4:after {
      display: block;
      content: '';
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: -webkit-transform 500ms ease-in-out;
      transition: -webkit-transform 500ms ease-in-out;
      transition: transform 500ms ease-in-out;
      transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
      -webkit-transform-origin: 0% 50%;
      transform-origin: 0% 50%;
      border-bottom: 3px solid #6E4CCC; }

.img-g, .img-d {
  height: 18px;
  width: 25vw;
  display: none; }
  @media screen and (min-width: 550px) {
    .img-g, .img-d {
      display: inline-block; } }
  @media screen and (min-width: 700px) {
    .img-g, .img-d {
      width: 27vw; } }
  @media screen and (min-width: 920px) {
    .img-g, .img-d {
      width: 25%; } }
  @media screen and (min-width: 1060px) {
    .img-g, .img-d {
      width: 30%; } }

.big_menu3 {
  background-color: #F9F9F9;
  color: #353535;
  text-align: center;
  margin: 0px 10px 120px;
  padding: 100px 10px;
  box-shadow: 0 0 10px  grey;
  font-family: 'segoe print', 'Kalam', cursive; }
  .big_menu3 header {
    background: linear-gradient(135deg, #0431DF 20%, #0887FD 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'dancing_script_otregular';
    font-size: 80px; }
  .big_menu3 article {
    margin-bottom: 20px; }
  .big_menu3 h4:after {
    display: block;
    content: '';
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: -webkit-transform 500ms ease-in-out;
    transition: -webkit-transform 500ms ease-in-out;
    transition: transform 500ms ease-in-out;
    transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    border-bottom: 3px solid #353535; }

.big_menu4 {
  background-color: #FDFFFD;
  color: #353535;
  text-align: center;
  margin: 0px 10px 120px;
  padding: 100px 10px;
  box-shadow: 0 0 10px  grey;
  font-family: 'segoe print', 'Kalam', cursive; }
  .big_menu4 header {
    background: linear-gradient(135deg, #3D9339 20%, #C0FD87 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'kaushan_scriptregular';
    font-size: 80px; }
  .big_menu4 article {
    margin-bottom: 20px; }
  .big_menu4 h4:after {
    display: block;
    content: '';
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: -webkit-transform 500ms ease-in-out;
    transition: -webkit-transform 500ms ease-in-out;
    transition: transform 500ms ease-in-out;
    transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    border-bottom: 3px solid #353535; }

.mentions h2 {
  font-size: 40px;
  margin: 30px auto;
  text-align: center; }
.mentions h3 {
  font-size: 20px;
  font-weight: 600; }
.mentions p {
  margin: 10px 20px; }

/*# sourceMappingURL=styles.css.map */
